Creating a main data frame
------------------------------

In the following notebook we create our data set. 

1. The parameters data set is created
2. For each row retrieve the corresponding data sets (noise, probend, standard etc)
3. Get a data set with all the strategies of the axelrod python library
4. Merge them together
5. Write to file

The following could have been implemented in the script but it was done here so we could time the process.

In [1]:
import pandas as pd
import axelrod
import read_in

In [2]:
axelrod.__version__

'3.0.0'

In [3]:
directory = "../data/"

In [4]:
# the head of a frame
frame = pd.read_csv('../data/noise-data/19350.csv')
frame.head()

,Rank,Name,Median_score,Cooperation_rating,Wins,Initial_C_rate,CC_rate,CD_rate,DC_rate,DD_rate,CC_to_C_rate,CD_to_C_rate,DC_to_C_rate,DD_to_C_rate
0,0,Cooperator,3.507081,0.032711,172.0,0.031284,0.020439,0.012272,0.619572,0.347717,0.081861,0.108220,0.034459,0.033878
1,1,Eventual Cycle Hunter,3.503627,0.032001,172.0,0.034803,0.020276,0.011725,0.619246,0.348754,0.081913,0.107061,0.032011,0.034037
2,2,Alternator Hunter,3.478066,0.047779,167.0,0.029915,0.026793,0.020986,0.611581,0.340639,0.207054,0.332443,0.036153,0.038292
3,3,Worse and Worse,3.475993,0.040349,172.0,0.033239,0.026018,0.014332,0.610532,0.349119,0.067050,0.133902,0.041876,0.040933
4,4,"Grumpy: Nice, 10, -10",3.463903,0.065585,163.0,0.032359,0.026259,0.039326,0.613458,0.320957,0.313471,0.505880,0.035639,0.049986

In [5]:
%time parameters_df = read_in.parameters_data_frame(directory)

CPU times: user 964 ms, sys: 168 ms, total: 1.13 s
Wall time: 1.17 s

In [6]:
parameters_df.drop_duplicates

   index     noise   probend  repetitions  seed   size  turns
0      0  0.849486  0.895039         40.0   0.0  101.0  134.0
1     62  0.849486  0.895039         40.0   0.0  101.0  134.0
2     93  0.849486  0.895039         40.0   0.0  101.0  134.0
3    124  0.849486  0.895039         40.0   0.0  101.0  134.0
4    124  0.849486  0.895039         40.0   0.0  101.0  134.0

In [7]:
%time strategies_df = read_in.strategies_properties()

CPU times: user 2.59 s, sys: 0 ns, total: 2.59 s
Wall time: 2.6 s

In [8]:
%time df = read_in.reading_in_data(parameters_df, directory)

CPU times: user 8min 1s, sys: 20.9 s, total: 8min 22s
Wall time: 9min 3s

In [9]:
df.head()

,CC_rate,CC_to_C_rate,CD_rate,CD_to_C_rate,Cooperation_rating,DC_rate,DC_to_C_rate,DD_rate,DD_to_C_rate,Initial_C_rate,Median_score,Name,Rank,Wins,noise,probend,repetitions,seed,size,turns
0,0.098972,0.157721,0.053265,0.152564,0.152237,0.550556,0.152024,0.297207,0.150916,0.14350,3.347239,Cooperator Hunter,0,96.0,0.849486,NaN,40.0,0.0,101.0,134.0
1,0.116172,0.225727,0.058414,0.210793,0.174586,0.533892,0.161021,0.291522,0.154196,0.15025,3.307425,$e$,1,94.0,0.849486,NaN,40.0,0.0,101.0,134.0
2,0.119065,0.184686,0.066946,0.195297,0.186011,0.523808,0.184778,0.290181,0.184233,0.18450,3.270746,Hesitant QLearner,2,93.0,0.849486,NaN,40.0,0.0,101.0,134.0
3,0.100909,0.148978,0.069618,0.340554,0.170526,0.533244,0.151465,0.296229,0.160541,0.85475,3.269142,Opposite Grudger,3,94.0,0.849486,NaN,40.0,0.0,101.0,134.0
4,0.119571,0.184768,0.067466,0.194112,0.187037,0.523174,0.185247,0.289789,0.186620,0.19350,3.268843,Risky QLearner,4,93.0,0.849486,NaN,40.0,0.0,101.0,134.0

In [10]:
len(strategies_df)

195

In [11]:
len(df['Name'].unique())

195

In [12]:
df.to_csv('../data/df.csv')

In [73]:
# for strategy_name in strategies_df['Name'].unique():
#     for param_name in strategies_with_parameters:
#         if strategy_name in param_name:
#             strategies_df = strategies_df.append(
#                 strategies_df[strategies_df['Name']==strategy_name].replace(to_replace=strategy_name, value=param_name))

In [92]:
# strategies_df = strategies_df[strategies_df['Name'].isin(df['Name'].unique())].drop_duplicates('Name')

In [16]:
%time data_frame = pd.merge(strategies_df,  df, on='Name')

CPU times: user 476 ms, sys: 752 ms, total: 1.23 s
Wall time: 1.5 s

The length here differs because of the Names of the strategies. The yml file should have the version of axelrod for which we run the tournament. But this seems to not be the case.
**Discuss this.**

In [97]:
data_frame.to_csv('../data/data_frame.csv')

In [17]:
len(df), len(data_frame)

(1228904, 850914)